.photo-column {
    background-color: burlywood;
    height: 900px;
}

#photo-gallery {
    background-color: blanchedalmond;
    height: 900px;
}

.photo-small {
    width: 100%;
    height: 360px;
    background-color: cadetblue;
    margin-top: 25px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 460px;
    background-color: cornflowerblue;
    margin-top: 25px; 
    overflow: hidden;
}

@media (min-width: 575.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}